.sidebar {
  grid-area: sidebar;
  overflow-y: auto;
}

.content {
  grid-area: content;
}

.header {
  grid-area: header;
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

.main {
  display: grid;
  grid-template-columns: auto 400px;
  grid-template-rows: min-content auto;
  grid-template-areas:
    "header header"
    "content sidebar";
  width: 100vw;
  height: 100vh;
}

.plane_map {
  width: 100%;
  height: 100%;
}